
@*
Procurement Tracking Tool
    CSIS 483 Capstone Project
    Moses Padilla

    Purpose:
    This page serves as the main landing page for the tracking tool. All buttons are on this page. 

    References:
    Carey, P. M. (2020). New perspectives on HTML5 and CSS3: Comprehensive (8th ed.). Cengage Learning.

    Microsoft. (n.d.). Razor syntax reference for ASP.NET Core. https://learn.microsoft.com/en-us/aspnet/core/mvc/views/razor



*@

@{
    ViewData["Title"] = "Procurement Tracking Tool";
}

<div class="text-center">
    <h1>Welcome to the Procurement Tracking Tool</h1>

    <p>This system helps track procurement requests from creation to approval.</p>

    <div class="mt-4">
        <a class="btn btn-primary m-2" asp-controller="PurchaseRequest" asp-action="Create">
            Create Purchase Request
        </a>

        <a class="btn btn-success m-2" asp-controller="PurchaseRequest" asp-action="Approve">
            View/Approve Purchase Requests
        </a>

        <a class="btn btn-secondary m-2" asp-controller="PurchaseRequest" asp-action="Vendors">
            Vendor List
        </a>
    </div>
</div>