@*

This page was loaded by default, I am not sure what to change it to at this time. 

*@

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
